<!DOCTYPE HTML>
<!--
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Joanne's home page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="templates/profile/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#">Joanne's page <span>My proflie</span></a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="wrapper style1">

						<div class="image fit flush">
							<img src="templates/profile/images/2020430.jpg" alt="" />
						</div>
						<div class="content">
							<p><font size="6">大家好&nbsp;&nbsp;&nbsp;我是楊子萱<br>
								   現就讀銘傳大學應用統計與資料科學學系&nbsp;&nbsp;大三<br>
								   喜歡出遊&nbsp;&nbsp;喜歡大自然&nbsp;&nbsp;最近愛上野餐<br>
								   還有一個小興趣&nbsp;&nbsp;繪畫似顏繪<br>
								   IG:&nbsp;&nbsp;joandraw0313</font>
							</p>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper">
						<div class="spotlight">
							<div class="image flush"><a href="https://www.instagram.com/joandraw0313/"><font size="4">點一下</font><img src="templates/profile/images/ig.jpg" alt="" /></a></div>
							<div class="inner">
								<b><font size="7">關於 joandraw0313</font></b>
								<p><font size="5">某天<br>
								   想出貼圖無意間找到一個app程式<br>
								   慢慢的發現原來自己也可以畫出這種風格<br>
								   隨意辦了這個帳號<br>
								   記錄自己從剛開始的手感 到現在熟練的觸筆<br>
								   也記錄了身邊親朋好友在我眼中的樣子</font>
								</p>
							</div>
						</div>
				</div>
			</section>

	</body>
</html>
